<div style='max-width:1150px;margin-left:auto;margin-right:auto;'>

  <app-banner bannerId="crm_de_cobranca"></app-banner>
  <app-description></app-description>
  <app-section-title sectionTitle="Vídeos tutoriais"></app-section-title>

  <div class="container">
    <div class="row">

      <app-video-card class="col-xl-4 col-md-6 mb-4"></app-video-card>
      <app-video-card class="col-xl-4 col-md-6 mb-4"></app-video-card>
      <app-video-card 
        videoId="398151094" 
        videoTitle="Cadastro de Comunidades" 
        class="col-xl-4 col-md-6 mb-4"></app-video-card>

    </div>
  </div>

  <app-section-title sectionTitle="Documentação"></app-section-title>

  <div id="faq" role="tablist" aria-multiselectable="true">

    <app-doc-title docTitle="BEM-VINDO AO MÓDULO CRM DE COBRANÇA"></app-doc-title>


<div class="card">
<div class="card-header" role="tab" id="titulocrm101">
<h5 class="card-title">
<a class="collapsed" data-toggle="collapse" data-parent="#faq" href="#corpocrm101" aria-expanded="true" aria-controls="corpocrm101">
Introdução
</a>
</h5>
</div>
<div id="corpocrm101" class="collapse in" role="tabcard" aria-labelledby="titulocrm101">
<div class="card-body">
<div style="padding:20% 0 0 0;position:relative;">
<iframe src="https://academy.mxm.com.br/docs/crm101.html" frameborder="0" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
</div>
</div>
</div>
</div>

  <br>
  <h5 class="card-title">
    CADASTROS
  </h5>
  <br>

<div class="card">
<div class="card-header" role="tab" id="titulo12387">
<h5 class="card-title">
<a class="collapsed" data-toggle="collapse" data-parent="#faq" href="#corpo12387" aria-expanded="true" aria-controls="corpo12387">
Fase de cobrança de título
</a>
</h5>
</div>
<div id="corpo12387" class="collapse in" role="tabcard" aria-labelledby="titulo12387">
<div class="card-body">
<div style="padding:56.25% 0 0 0;position:relative;">
<iframe src="https://academy.mxm.com.br/docs/12387.html" frameborder="0" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
</div>
</div>
</div>
</div>

<div class="card">
<div class="card-header" role="tab" id="titulo12388">
<h5 class="card-title">
<a class="collapsed" data-toggle="collapse" data-parent="#faq" href="#corpo12388" aria-expanded="true" aria-controls="corpo12388">
Regra de envio de cobrança
</a>
</h5>
</div>
<div id="corpo12388" class="collapse in" role="tabcard" aria-labelledby="titulo12388">
<div class="card-body">
<div style="padding:56.25% 0 0 0;position:relative;">
<iframe src="https://academy.mxm.com.br/docs/12388.html" frameborder="0" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
</div>
</div>
</div>
</div>

  <br>
  <h5 class="card-title">
    PROCESSOS
  </h5>
  <br>

<div class="card">
<div class="card-header" role="tab" id="titulo28284">
<h5 class="card-title">
<a class="collapsed" data-toggle="collapse" data-parent="#faq" href="#corpo28284" aria-expanded="true" aria-controls="corpo28284">
Manutenção da fase de cobrança do título
</a>
</h5>
</div>
<div id="corpo28284" class="collapse in" role="tabcard" aria-labelledby="titulo28284">
<div class="card-body">
<div style="padding:56.25% 0 0 0;position:relative;">
<iframe src="https://academy.mxm.com.br/docs/28284.html" frameborder="0" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
</div>
</div>
</div>
</div>

  <br>
  <h5 class="card-title">
    UTILITÁRIOS
  </h5>
  <br>

<div class="card">
<div class="card-header" role="tab" id="titulo40644">
<h5 class="card-title">
<a class="collapsed" data-toggle="collapse" data-parent="#faq" href="#corpo40644" aria-expanded="true" aria-controls="corpo40644">
Homologação da fase de cobrança do título
</a>
</h5>
</div>
<div id="corpo40644" class="collapse in" role="tabcard" aria-labelledby="titulo40644">
<div class="card-body">
<div style="padding:56.25% 0 0 0;position:relative;">
<iframe src="https://academy.mxm.com.br/docs/40644.html" frameborder="0" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
</div>
</div>
</div>
</div>

<div class="card">
<div class="card-header" role="tab" id="titulo40647">
<h5 class="card-title">
<a class="collapsed" data-toggle="collapse" data-parent="#faq" href="#corpo40647" aria-expanded="true" aria-controls="corpo40647">
Parâmetros do sistema de CRM de cobrança
</a>
</h5>
</div>
<div id="corpo40647" class="collapse in" role="tabcard" aria-labelledby="titulo40647">
<div class="card-body">
<div style="padding:56.25% 0 0 0;position:relative;">
<iframe src="https://academy.mxm.com.br/docs/40647.html" frameborder="0" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
</div>
</div>
</div>
</div>

  <br>
  <h5 class="card-title">
    RELATÓRIOS
  </h5>
  <br>

<div class="card">
<div class="card-header" role="tab" id="titulo12389">
<h5 class="card-title">
<a class="collapsed" data-toggle="collapse" data-parent="#faq" href="#corpo12389" aria-expanded="true" aria-controls="corpo12389">
Relatório de modelo padrão de carta de cobrança
</a>
</h5>
</div>
<div id="corpo12389" class="collapse in" role="tabcard" aria-labelledby="titulo12389">
<div class="card-body">
<div style="padding:56.25% 0 0 0;position:relative;">
<iframe src="https://academy.mxm.com.br/docs/12389.html" frameborder="0" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
</div>
</div>
</div>
</div>

</div>