<div style='max-width:1150px;margin-left:auto;margin-right:auto;'>

  <app-banner bannerId="crm_de_cobranca"></app-banner>
  <app-description></app-description>
  <app-section-title sectionTitle="Vídeos tutoriais"></app-section-title>

  <div class="container">
    <div class="row">
      
      <app-video-card 
        videoId="846283169" 
        videoTitle="Atendimento do pedido de compras" 
        class="col-xl-4 col-md-6 mb-4"></app-video-card>
      <app-video-card
        videoId="728615143?h=71bf7b1ff5" 
        videoTitle="Principais processos do módulo Compras" 
        class="col-xl-4 col-md-6 mb-4">></app-video-card>
      <app-video-card 
        videoId="398151094" 
        videoTitle="Cadastro de Comunidades" 
        class="col-xl-4 col-md-6 mb-4">
      </app-video-card>

    </div>
  </div>

  <app-section-title sectionTitle="Documentação"></app-section-title>

  <div id="faq" role="tablist" aria-multiselectable="true">

    <app-doc-title docTitle="BEM-VINDO AO MÓDULO CRM DE COBRANÇA"></app-doc-title>

    <app-doc-item 
      docItem="crm101" 
      docItemPadding="25" 
      docName="Introdução">
    </app-doc-item>
    <app-doc-item 
      docItem="crm102" 
      docItemPadding="56.25" 
      docName="Cadastros obrigatórios">
    </app-doc-item>

    <app-doc-title docTitle="CADASTROS"></app-doc-title>

    <app-doc-item 
      docItem="12387" 
      docItemPadding="56.25" 
      docName="teste">
    </app-doc-item>
    <app-doc-item 
      docItem="12388" 
      docItemPadding="56.25" 
      docName="teste">
    </app-doc-item>

    <app-doc-title docTitle="PROCESSOS"></app-doc-title>

    <app-doc-item 
      docItem="28284" 
      docItemPadding="56.25" 
      docName="teste">
    </app-doc-item>

    <app-doc-title docTitle="UTILITÁRIOS"></app-doc-title>
  
    <app-doc-item 
      docItem="40644" 
      docItemPadding="56.25" 
      docName="teste">
    </app-doc-item>
    <app-doc-item 
      docItem="40647" 
      docItemPadding="56.25" 
      docName="teste">
    </app-doc-item>

    <app-doc-title docTitle="RELATÓRIOS"></app-doc-title>

    <app-doc-item 
      docItem="12389" 
      docItemPadding="56.25" 
      docName="teste">
    </app-doc-item>

</div>