<ul>
  <li>O CRM de Cobrança do MXM-WebManager é um módulo automatizado e autônomo, que integra com os demais módulos do sistema, permitindo a execução da cobrança dos títulos de um cliente de forma personalizada e automática, possibilitando a gestão completa das inadimplências da empresa.</li>
  <li>Todo o processo integrado com as demais áreas (Financeiro, Contábil, e outras);</li>
  <li>Definição individual e personalizada de quais clientes serão cobrados;</li>
  <li>Inclusão e alteração de fase de cobrança totalmente automatizadas; e</li>
  <li>Envio de e-mails de cobrança automáticos, sem a necessidade de interação do usuário.</li>
</ul>