<div class="card">
  <div class="card-header" role="tab" id="tituloindex101">
    <h5 class="card-title">
      <a class="collapsed" data-toggle="collapse" data-parent="#faq" href="#corpoindex101" aria-expanded="true" aria-controls="corpoindex101">
        Introdução
      </a>
    </h5>
  </div>
  <div id="corpoindex101" class="collapse in" role="tabcard" aria-labelledby="tituloindex101">
    <div class="card-body">
      <div style="padding:56.25% 0 0 0;position:relative;">
        <iframe 
          src="https://academy.mxm.com.br/modulos/mxadministra/index101.html" 
          frameborder="0" 
          style="position:absolute;top:0;left:0;width:100%;height:100%;">
        </iframe>
      </div>
    </div>
  </div>
</div>