<div class="card">
  <div class="card-header" role="tab" id="titulo{{docItem}}">
    <h5 class="card-title">
      <a class="collapsed" data-toggle="collapse" data-parent="#faq" href="#corpo{{docItem}}" aria-expanded="true" attr.aria-controls="corpo{{docItem}}">
        {{ docName }}
      </a>
    </h5>
  </div>
  <div id="corpo{{docItem}}" class="collapse in" role="tabcard" attr.aria-labelledby="titulo{{docItem}}">
    <div class="card-body">
      <div [style]="paddingStyle">
        <iframe 
          [src]="urlSafe"
          frameborder="0" 
          style="position:absolute;top:0;left:0;width:100%;height:100%;">
        </iframe>
      </div>
    </div>
  </div>
</div>